#cart{
    display: grid;
    grid-template-columns: 70% 25%;
    grid-gap: 3%;
    background-color: rgb(247, 247, 247);


}
#product_cart{
    background-color: white;
    margin-top: 4%;
    width: 99%;
    margin-left: 4%;
    margin-bottom: 2%;
    border: 1px solid black;
}

#cart_price{
    margin-top: 11%;
    width: 98%;
    height: 450px;
    margin-left: 2%;
    border: 1px solid black;
    background-color: white;
}

#payment_summ{
  margin-left: 5%;
}

#bag_price{
    margin-left: 5%;
}

#cart_price>button{
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    height: 40px;
}

#cart_price_button2{
    width: 100%;
    height: 40px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

#cart_price_button3s{
    width: 80%;
    height: 33px;
    background-color: rgb(0, 16, 245);
    color: white;
    font-size: 20px;
    font-weight: 500;
}




#product_cart>div{
    width: 95%;
    border: 1px solid rgb(228, 224, 224);
    height: 200px;
    margin: 10px;
    display: grid;
    grid-template-columns: 70% 30%;
    
}#product_cart2{
    margin-top: 85px;
    margin-left: 25px;
}#product_cart3{
    border: 1px solid rgb(226, 225, 225);
    background-color: rgb(253, 253, 251);
}#product_cart4{
    border: 1px solid rgb(241, 240, 240);
    background-color: rgb(233, 225, 156);
    height: 35px;
    padding-top: 9px;
    text-align: center;
}#product_cart5{
  margin-top: 50px;
  
    width: 100%;
    height: 300px;
    border: 1px solid rgb(228, 225, 222);
}#product_cart>div>p{
 margin-left: 15px;   
}#h5{
    margin-left:30px;
    margin-right: 30px;
    border-radius: 10px;
    padding-left: 10px;
    height: 25px;
    padding-top: 4px;

    border: 1px solid rgb(233, 227, 227);
    background-color: rgb(207, 236, 41);
}#Price1{
    display: grid;
    grid-template-columns: 45% 53%;
}#address{
    background-color: rgb(66, 162, 162);
    float: right;
    width: 100%;
   vertical-align: middle;
   padding: 15px;
   background: #42a2a2;
   border-radius: 5px;
    font-size: 16px;
     font-family: montserrat,sans-serif;
   line-height: 18px;
   color: #fff;
    margin: 0;
   text-transform: uppercase;

 border: none;
 clear: both;
}

#add{
    margin-left: 39px;
    color: rgb(250, 8, 8);
    margin-bottom: -20px;
}


#add_qun{
    margin-left: 20px;

}
#bagprice{
    padding-left: 160px;
}
#bagprice1{
    padding-left: 120px;
}
#bagprice2{
    padding-left: 135px;
}