
    #navbar{
        background-color: white;
    }
    #navbar_1{
        width: 100%;
        margin-top: -25px;
        vertical-align: top;
     
    }
    #navbar_logo{
        width: 120px;
        height: 110px;
        display: block;
        margin-left: auto;
        margin-right: auto;
     

    }
   
    #navbar_a{
        display: grid;
        grid-template-columns: 20% 50% 31%;
        gap: 10px;
        margin-top: -15px;
        vertical-align: top;
      
    }
    #navbar_left{
        border: 1px solid black;
        height: 40px;
        width: 80%;
      margin-top: 0px;
      margin-left: 15%;
      text-align: center;
      color: rgb(8, 8, 8);
      background-color: white;

   
      padding-top: 5px;
      padding-bottom: 4px;
      
    }#nabvar_right{
        margin-left: 20px;
        display: grid;
        grid-template-columns: 30% 25% 35%;
    }
    #logo_catgeries{
        
        margin-right: 30px;
        width: 20px;
    }#cart_logo2{
        display: grid;
        grid-template-columns: 30% 80%;

    }#cart_logo4{
        margin-top: 2px;
      margin-left: 17px;
        width: 20px;
        height: 20px;
    }
    #search_button {
        float: left;
        width: 50px;
        height: 37px;
        padding: 10px;
        background: #121313;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
      }
      
    
    
    #cart_logo{
        margin-top: 2px;
    margin-left: 15px;
        width: 20px;
        height: 20px;
    }
    
    #cart_logo1{
        margin-top: 2px;
       margin-left: 19px;
        width: 20px;
        height: 20px;
    }
    
    #cart_logo3{
        padding-left: 10px;

    }
    #navbar_input{
        padding-left: 14px;
        width: 100%;
        height: 37px;
    }
    #search_logo{
        margin-top: 8px;
        margin-left: 10px;
        width: 25px;
        height: 25px;

    }#search_box{
        display: flex;
    }#body{
        height: 200px;
    }#hr{
        margin-top: -8px;
    }
    /* footer part */
    #footer_desc{
        display: grid;
        grid-template-columns: 23% 23% 23% 23%;
        grid-gap: 2%;
        margin-top: 30px;

    }#footer_desc> div>img{
        width: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }#footer_desc> div>h4{
        text-align: center;
    }#footer_b{
        border: 1px solid wheat;
        background-color: white;
    }
    .aboutus{
     display: flex;
     gap: 12px;
     font-size: 12px;
     font-weight: 300;
     color: tomato;
     border: 1px solid black;
     background-color: gainsboro;
    }.aboutus>div>img{
        width: 40px;
        height: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4px;

    }.aboutus>div{
        display: flex;
        margin-left: 30%;
    }#pyment_logo{
        width: 250px;

    }#product_footer{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
      margin-left: 4%;
    }#footer_text>p{
      font-size: 13px;
      font-weight: 500;

    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      .sticky + .content {
        padding-top: 60px;
      }
      
      
    
    
      
   