*{
    margin: 0px;
    padding: 0px;
}

.circle-images-div1 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/783440/1617031913307.png?imwidth=140&impolicy=hq");
}
.circle-images-div2 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/783439/1617031733329.png?imwidth=140&impolicy=hq");
}
.circle-images-div3 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/783441/1617031947771.png?imwidth=140&impolicy=hq");
}
.circle-images-div4 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/783444/1617031896253.png?imwidth=140&impolicy=hq");
}
.circle-images-div5 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/847788/1625046200322.png?imwidth=140&impolicy=hq");
}
.circle-images-div6 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/783442/1617031981569.png?imwidth=140&impolicy=hq");
}
.circle-images-div7 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/783443/1617032011289.png?imwidth=140&impolicy=hq");
}
.circle-images-div8 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/847789/1625046223483.jpg?imwidth=140&impolicy=hq");
}
.circle-images-div9 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/847791/1625046813181.jpg?imwidth=140&impolicy=hq");
}
.circle-images-div10 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/829802/1623243851027.png?imwidth=140&impolicy=hq");
}

/* CIRCLE IMAGES SECOND CSS */

.circle-images2-div1 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/783451/1617032710736.png?imwidth=140&impolicy=hq");
}
.circle-images2-div2 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/783452/1617032740861.png?imwidth=140&impolicy=hq");
}
.circle-images2-div3 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/783453/1617032779735.png?imwidth=140&impolicy=hq");
}
.circle-images2-div4 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/783457/1617032657156.png?imwidth=140&impolicy=hq");
}
.circle-images2-div5 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/783458/1617032822205.png?imwidth=140&impolicy=hq");
}
.circle-images2-div6 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/783459/1617032724327.png?imwidth=140&impolicy=hq");
}
.circle-images2-div7 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/783460/1617032758218.png?imwidth=140&impolicy=hq");
}
.circle-images2-div8 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/783461/1617032921891.png?imwidth=140&impolicy=hq");
}
.circle-images2-div9 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/783462/1617033095513.png?imwidth=140&impolicy=hq");
}
.circle-images2-div10 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/783463/1617032845432.png?imwidth=140&impolicy=hq");
}

/* CIRCLE IMAGES SECOND CSS */

/* CIRCLE IMAGES THIRD CSS */

.circle-images3-div1 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686362/1617033301067.png?imwidth=140&impolicy=hq");
}
.circle-images3-div2 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686363/1617033161786.png?imwidth=140&impolicy=hq");
}
.circle-images3-div3 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686365/1617033051027.png?imwidth=140&impolicy=hq");
}
.circle-images3-div4 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686367/1617033189360.png?imwidth=140&impolicy=hq");
}
.circle-images3-div5 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686368/1617033340249.png?imwidth=140&impolicy=hq");
}
.circle-images3-div6 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686369/1617033346657.png?imwidth=140&impolicy=hq");
}
.circle-images3-div7 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686370/1617033083769.png?imwidth=140&impolicy=hq");
}
.circle-images3-div8 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686371/1617033089841.png?imwidth=140&impolicy=hq");
}
.circle-images3-div9 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686372/1617033221883.png?imwidth=140&impolicy=hq");
}
.circle-images3-div10 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686373/1617033104293.png?imwidth=140&impolicy=hq");
}

/* CIRCLE IMAGES THIRD CSS */


/* CIRCLE IMAGES FOURTH WITHOUT NAME */

.circle-images4-div1 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686266/1617033402956.png?imwidth=140&impolicy=hq");
}
.circle-images4-div2 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686267/1617033416493.png?imwidth=140&impolicy=hq");
}
.circle-images4-div3 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686268/1617033570482.png?imwidth=140&impolicy=hq");
}
.circle-images4-div4 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686269/1617033577333.png?imwidth=140&impolicy=hq");
}
.circle-images4-div5 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686270/1617033323011.png?imwidth=140&impolicy=hq");
}
.circle-images4-div6 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686271/1617033455793.png?imwidth=140&impolicy=hq");
}
.circle-images4-div7 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686273/1617033617185.png?imwidth=140&impolicy=hq");
}
.circle-images4-div8 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686274/1617033623361.png?imwidth=140&impolicy=hq");
}
.circle-images4-div9 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686283/1617033365548.png?imwidth=140&impolicy=hq");
}
.circle-images4-div10 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686285/1617033506648.png?imwidth=140&impolicy=hq");
}

/* CIRCLE IMAGES FOURTH WITHOUT NAME */


/* CIRCLE IMAGES fifth CSS */

.circle-images5-div1 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/719925/1617037022724.png?imwidth=140&impolicy=hq");
}
.circle-images5-div2 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/686363/1617033161786.png?imwidth=140&impolicy=hq");
}
.circle-images5-div3 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/719927/1617037045093.png?imwidth=140&impolicy=hq");
}
.circle-images5-div4 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/719928/1617037177983.png?imwidth=140&impolicy=hq");
}
.circle-images5-div5 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/719929/1617037335057.png?imwidth=140&impolicy=hq");
}
.circle-images5-div6 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/719933/1617037072893.png?imwidth=140&impolicy=hq");
}
.circle-images5-div7 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/719935/1617037205228.png?imwidth=140&impolicy=hq");
}
.circle-images5-div8 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/719936/1617037212993.png?imwidth=140&impolicy=hq");
}
.circle-images5-div9 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/719937/1617037101571.png?imwidth=140&impolicy=hq");
}
.circle-images5-div10 {
    background-image: url("https://assetscdn1.paytm.com/images/catalog/view_item/719938/1617037381116.png?imwidth=140&impolicy=hq");
}

/* CIRCLE IMAGES fifth CSS */

.circle-images {
    background-repeat: round;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
}

.circle-image-text {
    font-size: 13px;
    text-align: center;
}

.circle-images:hover .circle-image-text {
    color: red;
}

.circle-image-main-div {
    width: 80px;
}

.circle-image-main-div:hover {
    color: red;
}

.view-all-button {
    width: 110px;
    border-radius: 20px;
    padding: 3px;
    margin: auto;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #ef4e28;
}

.homepage-product-info>div {
    height: fit-content;
}

.homepage-product-info>div>img {
    height: 200px;
}


.homepage-product-info>div>p {
    margin: 5px;
}

.homepage-product-info>div>p>span:nth-child(3) {
    font-size: 15px;
}

.colorfull-line-home {
    background-color: #ef4e28;
    height: 5px;
    border-radius: 5px;
    width: 100px;
    margin: auto;
}