
#signin_page{
    display: block;
    /* margin: auto; */
    margin-top: 130px;
}#signin_1{
    text-align: center;
    background-color: #FFFAE7;
    width: 100%;
    height: 700px;
}#signin_2{
    text-align: center;
    color: rgb(165,160,160); 
}#headind_sign{
    width: 100%;
    height: 100px;
}


#sign_img{
 width: 90%;
}#signup_part2{
    font-size: 20px;
    color: rgb(51,51,51); 
    margin-top: 100px;
}
#mobile{
    text-align: center;
    font-size: 20px;
    width: 40%;
    height: 40px;
}#sign_part2_button{
    margin-top: 10px;
    width: 40%;
    height: 40px;
    border: none;
     border-radius: 5px;
    outline: none;
    letter-spacing: .5px;
   background-color: #42a2a2;
   font-size: 16px;
   font-family: montserrat,sans-serif;
   color: #fff;
   text-transform: uppercase;
}#hr{
    width: 30%;
    display: inline-block;
    margin-top: 45px;
    text-align: center;
}#sign_part2_input1{
    width: 40%;
    height: 40px;
    margin-top: 25px;
    border-radius: 4px;
    text-align: center;
}#sign_part2_input2{
    width: 30%;
    border-radius: 4px;
    height: 40px;
    margin-top: 25px;
    text-align: center;
}#signup_bottom{
    margin-top: 15px;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}#name{
    text-align: center;
    font-size: 20px;
    width: 40%;
    height: 40px;
}#password{
    text-align: center;
    font-size: 20px;
    width: 40%;
    height: 40px;
}
