body{
    background-color: #f3f7f8;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,sans-serif;
   }

    #container{
        display: flex;
        background-color: #f3f7f8;
    }
    #container_left {
        background-color: white;
        width: 22%;
        margin-left: 2%;
    }

    #container_left_heading {
        margin-left: 6%;
    }

    #container_left_heading > :nth-child(1) {
        color: rgb(145, 143, 143);
        margin-top: 4%;
        margin-bottom: 1%;
        font-size: 16px;
        font-weight: 550;
    }

    #container_left_heading > :nth-child(2) {
        color: rgb(145, 143, 143);
        margin-bottom: 2%;
        font-size: 16px;
        font-weight: 550;
    } 

    #container_left_heading > :nth-child(3) {
        margin-bottom: 5%;
    }

    #container_left_price {
        margin-left: 6%;
    }

    #container_left_price :nth-child(1) {
        margin-top: 2%;
        margin-bottom: 6%;
        font-size: 19px;
        font-weight: 700;
    }

    #container_left_price :nth-child(2) {
        width: 85%;
    }

    #container_left_price :nth-child(3) {
        margin-top: 3%;
        margin-bottom: 5%;
    }

    #slider {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    #slider:hover {
        opacity: 1;
    }

    #slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: rgb(255, 115, 0);
        cursor: pointer;
    }

    #slider::-moz-range-thumb {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: rgb(255, 115, 0);
        cursor: pointer;
    }

    .price_box {
        border: 1px solid rgb(207, 206, 206);
        
    }

    #container_left_brand {
        margin-left: 6%;
    }

    #container_left_brand :nth-child(1) {
        margin-top: 5%;
        margin-bottom: 4%;
        font-size: 19px;
        font-weight: 700;
    }

   input {
       width: 17px;
       height: 17px;
   }

   #container_left_ram {
        margin-left: 6%;
   }

   #container_left_ram :nth-child(1) {
        margin-top: 5%;
        margin-bottom: 4%;
        font-size: 19px;
        font-weight: 700;
    }

    #container_right {
        background-color: white;
        width: 70%;
        margin-left: 1.5%;
        overflow-y: scroll;
        height: 3000px;
    }

    #container_right_heading {
        display: flex;
        color: #222;
        margin-top: 1.5%;
        margin-bottom: 2%;
        margin-left: 2%;
    }

    #filter-select {
        border: 1px solid white;
    }

    #sort_filter {
        border: 1px solid rgb(207, 206, 206);
        cursor: pointer;
        margin-left: 55%;
        padding: 8px 5px;
        
    }

    .product_row {
        display: flex;
        margin-top: 3%;
    }

    .product_box {
        margin-left: 2%;
        cursor: pointer;
    }

    .product_img {
        width: 35%;
        height: 170px;
        margin-left: 30%;
    }

    .price1 {
        font-size: 19px;
        margin: 2% 0;
    }

    .price2 {
        color: red;
    }

    .product_description {
        opacity: 0.5;
        margin-top: 1%;
        font-size: 15px;
    }

    .text_dec {
        opacity: 0.4;
        text-decoration: line-through;
        margin: 0px 1px;
    }

    .color_green {
        color: green;
    }

    .c_d {
        font-size: 14px;
        color: #666;;
        margin-top: 1%;
    }

    hr {
        border: 0.1px solid rgb(226, 226, 226) ;
    }

    #heading {
        margin: 1% 3%;
    }


    #mainContainer {
        /* width: 80%; */
        margin: 20px;
        display: grid;
        grid-template-columns: repeat(4,23%);
        grid-gap: 2%;
        font-family: Roboto,-apple-system,BlinkMacSystemFont,Helvetica Neue,Segoe UI,sans-serif;
    }
    
    .product-main-img {
        width: fit-content;
        /* text-align: center; */
        margin: auto;
        height: 190px;
    }
    
    #mainContainer > div > div {
        text-align: center;
    }
    
    .product-main-name {
        color: #666;
        font-weight: lighter;
        font-size: 15px;
        margin: 2px;
    }
    
    .product-main-price1 {
        font-weight: 500;
        font-size: 19px;
    }
    
    .product-main-orange {
        color: orangered;
        font-weight: 600;
        font-size: 13px;
        margin: 1px;
    }
    
    .product-price-p {
        margin: 5px;
    }
    
    .product-main-price2 {
        font-weight: lighter;
        text-decoration: line-through;
        color: #666;
        font-size: 17px;
    }
    
    .product-main-discount {
        color: #09ac63;
        font-weight: 500;
        font-size: 16px;
        padding: 5px;
    }
    
    .product-main-cashback {
        margin: 2px;
        font-size: 12px;
        color: #666;
    }

    .smartphones_span {
        font-size: 25px;
        font-weight: 400;
        margin-left: 30px;
    }

    .product_two {
        color: #666;
        font-size: 25px;
        font-weight: lighter;
    }

    .top_smartphones {
        display: grid;
        grid-template-columns: 40% 50%;
        grid-gap: 5%;
        border-bottom: 0.5px solid #d8d9da;
    }

    #select_options {
        margin: 20px;
        width: 200px;
        height: 30px;
        border-color: #d3d3d3;
        color: #666;
    }

    .product_main_div {
        margin-top: 20px;
    }