
#signin_page{
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 80%;
    margin-left: 10%;
    margin-bottom: 10%;
    background-color: rgb(236, 232, 225);
    margin-top: 5%;
}#signin_1{
    text-align: center;

    width: 100%;
    height: 700px;
   
}#signin_2{
    text-align: center;
    color: rgb(165,160,160); 
}#headind_sign{
    padding-top: 50px;
    width: 100%;
    height: 50px;
}
#sign_img{
 width: 70%;
 height: 300px;
}#signup_part2{
    font-size: 20px;
    font-weight: 500;
    color: rgb(12, 11, 11); 

}
#mobile{
    text-align: center;
    font-size: 20px;
    width: 60%;
    height: 40px;
}#sign_part2_button{
    margin-top: 10px;
    width: 60%;
    height: 40px;
    border: none;
     border-radius: 5px;
    outline: none;
    letter-spacing: .5px;
   background-color: #42a2a2;
   font-size: 16px;
   font-family: montserrat,sans-serif;
   color: #fff;
   text-transform: uppercase;
}#hr{
    width: 30%;
    display: inline-block;
    margin-top: 45px;
    text-align: center;
}#sign_part2_input1{
    width: 60%;
    height: 40px;
    margin-top: 25px;
    border-radius: 4px;
    text-align: center;
}#sign_part2_input2{
    width: 30%;
    border-radius: 4px;
    height: 40px;
    margin-top: 25px;
    text-align: center;
}#signup_bottom{
    margin-top: 15px;
  width: 50%;
  text-align: center;
  margin-left: 25%;
}#name{
    text-align: center;
    font-size: 20px;
    width: 60%;
    height: 40px;
}#password{
    text-align: center;
    font-size: 20px;
    width: 60%;
    height: 40px;
}#sign_part2_button1{
    margin-top: 10px;
    padding-top: 10px;
    margin-left: 20%;
    width: 60%;
    height: 33px;
    border: none;
     border-radius: 5px;
    outline: none;
    letter-spacing: .5px;
   background-color: #42a2a2;
   font-size: 16px;
   font-family: montserrat,sans-serif;
   color: #fff;
   text-transform: uppercase;
}
